<div class="card">
    <div class="card-body">

        <div class="title">
            <h3>Mis datos</h3>
            <h4>General</h4>
        </div>

        <form action="">
            <div class="mb-2">
                <label class="form-label">
                    Nombre:
                </label>

                <input type="text" class="form-control" placeholder="Por favor ingrese su nombre">
            </div>

            <div class="mb-2">
                <label class="form-label">
                    Apellido:
                </label>

                <input type="text" class="form-control" placeholder="Por favor ingrese su apellido">
            </div>

            <div class="mb-2">
                <label class="form-label">
                    Dirección de correo:
                </label>

                <input type="email" class="form-control" placeholder="Por favor ingrese su mail">
            </div>
            
            <div class="mb-2">
                <label class="form-label">
                    Ciudad:
                </label>

                <input type="text" class="form-control" placeholder="Por favor ingrese su ciudad">
            </div>
            
            <div class="mb-2">
                <label class="form-label">
                    País:
                </label>

                <input type="text" class="form-control" placeholder="Por favor ingrese su país">
            </div>

            <button class="btn btn-primary">
                Guardar Cambios
            </button>

        </form>
    </div>
</div>

<app-header></app-header>
<app-menu></app-menu>
<app-footer></app-footer>