nav { 
    height: 66px;
    width: 100%;
    position: fixed;
    padding: 10px;
    top: 0;
    left: 0;
    background: #003366;
    z-index: 2;
}

.logo{
    text-align: end;
    margin-right: 20px;
}

h1{
    color: #fff;
    font-family: "Style Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    margin-bottom: 20px;
}