<app-header-porofesor></app-header-porofesor>

<section>

    <body>

        <div class="main">

            <div class="title">
                <h3>¡Hola Diego!</h3>
                <p>Aquí están tus clases</p>
            </div>

            <form class="search-form">
                <input type="search" placeholder="Buscar..." />
            </form>

            <article>


                <div class="container-materias">
                    <button routerLink="/listado-alumno-a" class="card">
                        <p>Matemática</p>
                        <div class="materia">
                            <h2> Sección 1° A</h2>
                        </div>
                    </button>

                    <div class="container-materias">
                        <button routerLink="/listado-alumnos-b" class="card">
                            <p>Matemática</p>
                            <div class="materia">
                                <h2>Sección 1° B</h2>
                            </div>
                        </button>

                        <div class="container-materias">
                            <button routerLink="/listado-alumnos-c" class="card">
                                <p>Matemática</p>
                                <div class="materia">
                                    <h2>Sección 1° C</h2>
                                </div>
                            </button>

                        </div>

                    </div>


                </div>
            </article>
        </div>
    </body>


</section>

<app-menu-profesor></app-menu-profesor>
<app-footer></app-footer>