<p>menu-profesor works!</p>
<section>

    <aside>
        <nav>
            <ul class="menu">
                <li>
                    <button class="boton-menu boton-categoria" routerLink="/Profesor"><img class="imagen-perfil" src="../../../assets/image/home.png"/>Inicio</button>
                </li>
                <li>
                    <button class="boton-menu boton-categoria active" routerLink="/perfil"><img class="imagen-perfil" src="../../../assets/image/user.png"/>Perfíl</button>
                </li>
                <li>
                    <button class="boton-menu boton-categoria" routerLink="/historial"><img class="imagen-perfil" src="../../../assets/image/foro.png"/>Foro</button>
                </li>
                <li>
                    <button class="boton-menu boton-categoria" routerLink="/calendario"><img class="imagen-perfil" src="../../../assets/image/calendar.png"/>Calendario</button>
                </li>
               
                <li>
                    <button class="boton-menu boton-categoria" routerLink="/tareas"><img class="imagen-perfil" src="../../../assets/image/tareas.png"/>Tareas</button>
                </li>
            </ul>
        </nav>
    </aside>
    
</section>