
<section>

    <aside>
        <nav>
            <ul class="menu">
                <li>
                    <button class="boton-menu boton-categoria" routerLink="/profesor"><img class="imagen-perfil" src="../../../assets/image/home.png"/>Inicio</button>
                </li>
                <li>
                    <button class="boton-menu boton-categoria active" routerLink="/perfil-profesor"><img class="imagen-perfil" src="../../../assets/image/user.png"/>Perfíl</button>
                </li>
                <li>
                    <button class="boton-menu boton-categoria" routerLink="/foro-profesor"><img class="imagen-perfil" src="../../../assets/image/foro.png"/>Foro</button>
                </li>
                <li>
                    <button class="boton-menu boton-categoria" routerLink="/calendario-profesor"><img class="imagen-perfil" src="../../../assets/image/calendar.png"/>Calendario</button>
                </li>

                <li>
                    <button class="boton-menu boton-categoria" routerLink="/tareas-profesor"><img class="imagen-perfil" src="../../../assets/image/tareas.png"/>Tareas</button>
                </li>

                <li>
                    <button class="boton-cerrar boton-categoria" routerLink="/login">
                        Cerrar Sesión
                    </button>
                </li>
            </ul>
        </nav>
    </aside>

</section>
