<body>

    <div class="main">

        <div class="title">
            <h3>¡Hola Alumno!</h3>
            <p>Aquí están tus clases</p>
        </div>

        <form class="search-form">
            <input type="search" placeholder="Buscar..." />
        </form>

        <article>

            <div class="container-materias">
                <div class="card">
                    <p>Matemática</p>
                    <div class="materia">
                        <button routerLink="/materias">MATEMÁTICA</button>
                    </div>
                </div>

                <div class="card">
                    <p>Literatura</p>
                    <div class="materia">
                        <button routerLink="/materias">LITERATURA</button>
                    </div>
                </div>

                <div class="card">
                    <p>Inglés</p>
                    <div class="materia">
                        <button routerLink="/materias">INGLÉS</button>
                    </div>
                </div>

                <div class="card">
                    <p>Historia</p>
                    <div class="materia">
                        <button routerLink="/materias">HISTORIA</button>
                    </div>
                </div>

                <div class="card">
                    <p>Economía</p>
                    <div class="materia">
                        <button routerLink="/materias">ECONOMÍA</button>
                    </div>
                </div>

                <div class="card">
                    <p>Sociología</p>
                    <div class="materia">
                        <button routerLink="/materias">SOCIOLOGÍA</button>
                    </div>
                </div>

                <div class="card">
                    <p>Ética</p>
                    <div class="materia">
                        <button routerLink="/materias">ÉTICA</button>
                    </div>
                </div>

                <div class="card">
                    <p>Química</p>
                    <div class="materia">
                        <button routerLink="/materias">QUÍMICA</button>
                    </div>
                </div>

                <div class="card">
                    <p>Geografía</p>
                    <div class="materia">
                        <button routerLink="/materias">GEOGRAFÍA</button>
                    </div>
                </div>

                <div class="card">
                    <p>Programación</p>
                    <div class="materia">
                        <button routerLink="/materias">PROGRAMACIÓN</button>
                    </div>
                </div>

                <div class="card">
                    <p>Derecho</p>
                    <div class="materia">
                        <button routerLink="/materias">DERECHO</button>
                    </div>
                </div>

                <div class="card">
                    <p>Fisica</p>
                    <div class="materia">
                        <button routerLink="/materias">FISICA</button>
                    </div>
                </div>
            </div>
        </article>
    </div>
</body>

<app-header></app-header>
<app-menu></app-menu>
<app-aside></app-aside>
<app-calendario2></app-calendario2>
<app-footer></app-footer>
