<body>

    <div class="main">

        <div class="title">
            <h3>¡Hola Alumno!</h3>
            <p>Aquí están tus clases</p>
        </div>

        <form class="search-form">
            <input type="search" placeholder="Buscar..." />
        </form>

        <article>

            <div class="container-materias">
                <div class="card">
                    <p>Matemática</p>
                    <div class="materia">
                        <h1>MATEMÁTICA</h1>
                    </div>
                </div>

                <div class="card">
                    <p>Literatura</p>
                    <div class="materia">
                        <h1>LITERATURA</h1>
                    </div>
                </div>

                <div class="card">
                    <p>Inglés</p>
                    <div class="materia">
                        <h1>INGLÉS</h1>
                    </div>
                </div>

                <div class="card">
                    <p>Historia</p>
                    <div class="materia">
                        <h1>HISTORIA</h1>
                    </div>
                </div>

                <div class="card">
                    <p>Economía</p>
                    <div class="materia">
                        <h1>ECONOMÍA</h1>
                    </div>
                </div>

                <div class="card">
                    <p>Sociología</p>
                    <div class="materia">
                        <h1>SOCIOLOGÍA</h1>
                    </div>
                </div>

                <div class="card">
                    <p>Ética</p>
                    <div class="materia">
                        <h1>ÉTICA</h1>
                    </div>
                </div>

                <div class="card">
                    <p>Química</p>
                    <div class="materia">
                        <h1>QUÍMICA</h1>
                    </div>
                </div>

                <div class="card">
                    <p>Geografía</p>
                    <div class="materia">
                        <h1>GEOGRAFÍA</h1>
                    </div>
                </div>

                <div class="card">
                    <p>Programación</p>
                    <div class="materia">
                        <h1>PROGRAMACIÓN</h1>
                    </div>
                </div>

                <div class="card">
                    <p>Derecho</p>
                    <div class="materia">
                        <h1>DERECHO</h1>
                    </div>
                </div>

                <div class="card">
                    <p>Fisica</p>
                    <div class="materia">
                        <h1>FISICA</h1>
                    </div>
                </div>
            </div>
        </article>
    </div>
</body>

<app-header></app-header>
<app-menu></app-menu>
<app-aside></app-aside>
<app-calendario2></app-calendario2>
<app-footer></app-footer>
