<aside>
    <nav>
        <div class="perfil">
            <div class="foto-perfil">
                <img src="../../../assets/image/user.jpg" alt="">
            </div>
        </div>
        <ul class="menu">
            <li>
                <button class="boton-menu boton-categoria active">Perfíl</button>
            </li>
            <li>
                <button class="boton-menu boton-categoria">Calendario</button>
            </li>
            <li>
                <button class="boton-menu boton-categoria">Historial académico</button>
            </li>
            <li>
                <button class="boton-menu boton-categoria">Calificaciones</button>
            </li>
            <li>
                <button class="boton-menu boton-categoria">Mensajes</button>
            </li>
        </ul>
    </nav>
</aside>
