<aside>
    <nav>
        <ul class="menu">
            <li>
                <button class="boton-menu boton-categoria" routerLink="/alumno">Inicio</button>
            </li>
            <li>
                <button class="boton-menu boton-categoria active" routerLink="/perfil">Perfíl</button>
            </li>
            <li>
                <button class="boton-menu boton-categoria" routerLink="/calendario">Calendario</button>
            </li>
            <li>
                <button class="boton-menu boton-categoria" routerLink="/historial">Historial académico</button>
            </li>
            <li>
                <button class="boton-menu boton-categoria" routerLink="/tareas">Tareas</button>
            </li>
        </ul>
    </nav>
</aside>

