* {
    outline: none !important
}

.container-calendar {
    width: 100%;
    align-content: center;
}

.wrapper-calendar {
    width: 305px;
    height: 330px;
    position: absolute;
    top: 400px;
    right: 10px;
    margin-top: 45px;
    padding-top: 20px;
    background-color: #A3ECF5;
    box-shadow: -10px 0 15px -10px #000000;
    border-radius: 6px;
    gap: .5rem;
}

div {
    text-align: center;
    width: 300px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 0;
    padding: 30px;
}

li {
    padding: .25rem;
    font-size: 1.5ch;
    cursor: pointer;
}

li:hover {
    font-weight: 600;
}

h2 {
    margin-bottom: 4px;
    padding: 0;
}

.first-day {
    grid-column-start: var(--first-day-start, 0);
}

.day-name {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 2px;
    padding: 4px;
    text-align: center;
}

.header-calendar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.header-calendar h1 {
    width: 100%;
    font-size: 13px;
}

.header-calendar button {
    cursor: pointer;
    background-color: transparent;
    border: 0;
}

/* Media Queries para Responsive*/

@media (max-width: 600px) {
    .container-calendar{
        width: 100%;
        margin-bottom: 10px;
    }

    .wrapper-calendar {
        width: 100%;
        position: relative;
        top: auto;
        margin: 10px auto;
        align-content: center;
        padding: 20px;
        height: auto;
    }

    ol {
        width: 100%;
        justify-content: center;
        padding: 10px;
        grid-template-columns: repeat(7, 1fr);
    }

    li {
        font-size: 1.1ch;
    }

    .header-calendar {
        width: 100%;
    }

    .header-calendar h1 {
        font-size: 10px;
    }

    .header-calendar button {
        font-size: 10px;
    }
}

@media (max-width: 1250px) {
    .wrapper-calendar {
        width: 40%;
        position: relative;
        top: auto;
        margin: 20px auto;
        padding: 10px;
        height: 330;
    }

    ol {
        padding: 20px;
    }

    li {
        font-size: 1.3ch;
    }

    .header-calendar h1 {
        font-size: 12px;
    }

    .fecha {
        width: 100%;
    }
}

@media (min-width: 1251px) {
    .wrapper-calendar {
        width: 305px;
        height: 330px;
        top: 400px;
        right: 10px;
    }
}