
<app-header-porofesor></app-header-porofesor>
<div class="tareas">
    <section class="foro">
        <button type="button" class="botonForo" id="crearTareas" routerLink="/crear-tarea">Crear tareas</button>
        <button type="button" class="botonForo" id="hacerAnuncios">Hacer anuncios</button>
    </section>
    <section class="seccionForo">

        <section class="imagen-contenido">

            <img class="imagenForo" src="../../../assets/image/imagen_foto.png" alt="Descripción de la imagen">
            <p id="texto">En este espacio, podrás crear y organizar actividades. Añade tareas y otros proyectos para la
                clase, y clasifícalos por temas para un mejor seguimiento.</p>
        </section>
    </section>
</div>

<app-menu-profesor></app-menu-profesor>
<app-footer></app-footer>