nav { 
  height: 66px;
  width: 100%;
  position: fixed;
  padding: 10px;
  top: 0;
  left: 0;
  background: #003366;
  z-index: 2;
}

.logo{
  text-align: end;
  margin-right: 20px;
}

h1{
  color: #fff;
  font-family: "Style Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
  margin-bottom: 20px;
}

  .llaveImg{
    width: 25px;
    height: 25px;  
    display: inline-block;
    padding-left: 4px;
    /* margin-bottom: 4px; */
    /* margin-left: 10px; */
  }

  /* nav {
    height: 66px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: flex-end;
    top: 0;
    left: 0;
    background: #003366;

} */
/* 
h1 {
    color: #fff;
    font-size: xx-large;
    font-weight: 300px;
    margin-left: 64rem;
    margin-bottom: 20px;
    font-size: 24px;
    display: flex;
    align-items: end;
    justify-content: end;
} */



/* .llaveImg {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-bottom: 6px;
    margin-left: 10px;

} */