h1 {
    text-align: right;
    color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: end;
    justify-content: right;
    font-size: 34px;
    background-color: #003366;;
  }
  
  .llaveImg{
    width: 25px;
    height: 25px;  
    display: inline-block;
    margin-bottom: 6px;
    margin-left: 10px;
  }

  /* nav {
    height: 66px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: flex-end;
    top: 0;
    left: 0;
    background: #003366;

}

h1 {
    color: #fff;
    font-size: xx-large;
    font-weight: 300px;
    margin-left: 64rem;
    margin-bottom: 20px;
    font-size: 24px;
    display: flex;
    align-items: end;
    justify-content: end;
} */



/* .llaveImg {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-bottom: 6px;
    margin-left: 10px;

} */