<section class="administrador">
  <aside class="admin-sidebar">
    <h2>Admin Panel</h2>
    <div class="button-group">
      <button (click)="navigateTo('virtual-computers')">Administrar materias</button>
      <button (click)="navigateTo('gestion-usuario')">Gestión usuarios</button>
      <button (click)="navigateTo('add-educational-notification')">Administrar cursos</button>
    </div>
  </aside>

  <section class="contenido">
    <ng-container [ngSwitch]="currentView">
      <ng-container *ngSwitchCase="'virtual-computers'">
        <p>Contenido de Compus Virtuales</p>
      </ng-container>

      <ng-container *ngSwitchCase="'gestion-usuario'">
        <button class="añadirUsuario" (click)="navigateTo('registro')">Añadir usuario</button>
        <button class="añadirUsuario">Importar</button>

          <h2>Gestión de Usuarios</h2>
          <table mat-table [dataSource]="usuarios" class="mat-elevation-z8">

            <!-- Nombre Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let usuario"> {{usuario.nombre}} </td>
            </ng-container>

            <!-- Correo Column -->
            <ng-container matColumnDef="correo">
              <th mat-header-cell *matHeaderCellDef> Correo </th>
              <td mat-cell *matCellDef="let usuario"> {{usuario.correo}} </td>
            </ng-container>

            <!-- Tipo Column -->
            <ng-container matColumnDef="tipo">
              <th mat-header-cell *matHeaderCellDef> Tipo Usuario </th>
              <td mat-cell *matCellDef="let usuario"> {{usuario.tipo}} </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Acciones </th>
              <td mat-cell *matCellDef="let usuario">
                <button class="modificar" mat-button (click)="modifyUser(usuario)">Editar</button>
                <button class="eliminar" mat-button (click)="deleteUser(usuario)">Eliminar</button>
              </td>
            </ng-container>
            s
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </ng-container>

        <ng-container *ngSwitchCase="'add-educational-notification'">
          <p>Agregar Notificación Educativa</p>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <p>Selecciona una opción del menú.</p>
        </ng-container>
      </ng-container>

  </section>
</section>
