<section class="administrador">
  <section class="admin-sidebar">
    <h2>Admin Panel</h2>
    <div class="button-group">
      <ul>
        <li>
          <button class="boton-menu boton-categoria" routerLink="/gestion-usuario"><img class="imagen-perfil"
              src="../../../assets/image/home.png">Inicio</button>
        </li>
        
        <li><button class="boton-menu boton-categoria" routerLink="/virtual-computers"><img class="imagen-perfil"
              src="../../../assets/image/tareas.png">Administrar materias</button>
        </li>
        <li><button class="boton-menu boton-categoria" routerLink="/gestion-usuario"><img class="imagen-perfil"
          src="../../../assets/image/usuario-sinfondo.png">Gestion usuario</button></li>
        <li><button class="boton-menu boton-categoria" routerLink="/add-educational-notification"><img
              class="imagen-perfil" src="../../../assets/image/administrar-divisor.png">Administrar
            división</button></li>


      </ul>
    </div>
  </section>
</section>