

.admin-sidebar {
  width: 250px;
  height: 1125px;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding-top: 34px;
  padding-bottom: 100%;
  gap: .5rem;
  top: 36px;
  left: 0;
  background-color: #003366;
  z-index: 3;
}

.añadirUsuario {
  padding: 10px 20px;
  border: none;
  background-color: rgba(0, 188, 212, 1);
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
}

.contenido {
  flex-grow: 1;
  padding: 20px;
}

.button-group button {
  display: block;
  margin-bottom: 10px;
  background-color: #003366;
  border:0;
  width: 171px;
  height: 43px;
  font-size: 14px;
  color: #FFFFFF;
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
}

button {
  margin-right: 5px;
}

.modificar {
  background-color: orange;
  color: white;
}

/* Estilos para el botón Eliminar */
.eliminar {
  background-color: red;
  color: white;
}


h2 {
  text-align: center;
  margin: 28px 0px 20px;
  font-size: 30px;
  margin-bottom: 20px;
  color: #FFFFFF;
}

mat-form-field {
  width: 100%;
  display: block;
  margin: 0 auto;
}

button {
  margin-top: 20px;
  display: inline-block;
  margin: 0 auto;
}

#botonAceptar_cancelar{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

#aceptar{
  margin-right: 10px;
}

.imagen-perfil{
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.boton-cerrar {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: flex;
  text-align: left;
  gap: 1rem;
  font-weight: 600;
  padding: 1rem;
  margin-top: 100%;
  font-size: .85rem;
  width: 100%;
}
