<section class="administrador">
  <section class="admin-sidebar">
    <h2>Admin Panel</h2>
    <div class="button-group">
      <ul>
        
        <li><button class="boton-menu boton-categoria" routerLink="/gestion-usuario">Gestion usuario</button></li>
        <li><button class="boton-menu boton-categoria" routerLink="/virtual-computers">Administrar materias</button>
        </li>
        <li><button class="boton-menu boton-categoria" routerLink="/add-educational-notification">Administrar
            división</button></li>
      </ul>
    </div>
  </section>
</section>